## 데이터 불러오기

In [76]:
import pandas as pd

train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')

submission = pd.read_csv('sample_submission.csv')

In [77]:
train.head()
train.tail()

       index      송하인_격자공간고유번호      수하인_격자공간고유번호  물품_카테고리  운송장_건수
31679  31679  4471000290087200  5011000213073200    스포츠잡화       3
31680  31680  1129000014045300  5011000319087100  스마트디바이스       4
31681  31681  1129000014045300  5011000263065200  스마트디바이스       6
31682  31682  4127300065073100  5011000264061200       지갑       7
31683  31683  2811000139076100  5011000520070100     세탁용품       4

In [78]:
test.head()

   index      송하인_격자공간고유번호      수하인_격자공간고유번호      물품_카테고리
0      0  4167000577042200  5011000435014100          선케어
1      1  1156000009012200  5011000172034400       구강위생용품
2      2  4122000363057300  5011000361097300           캠핑
3      3  5011000436041400  2826000084036400       아웃도어가구
4      4  4150000241065200  5011000169044300  분유/이유식/아기간식

In [53]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31684 entries, 0 to 31683
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   index         31684 non-null  int64
 1   송하인_격자공간고유번호  31684 non-null  int64
 2   수하인_격자공간고유번호  31684 non-null  int64
 3   물품_카테고리       31684 non-null  object
 4   운송장_건수        31684 non-null  int64
dtypes: int64(4), object(1)
memory usage: 1.2+ MB

In [54]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7920 entries, 0 to 7919
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   index         7920 non-null   int64
 1   송하인_격자공간고유번호  7920 non-null   int64
 2   수하인_격자공간고유번호  7920 non-null   int64
 3   물품_카테고리       7920 non-null   object
dtypes: int64(3), object(1)
memory usage: 247.6+ KB

In [55]:
train.isnull().sum()

index           0
송하인_격자공간고유번호    0
수하인_격자공간고유번호    0
물품_카테고리         0
운송장_건수          0
dtype: int64

In [252]:
train.columns = ["index", "SEND_SPG_INNB", "REC_SPG_INNB", "CATEGORY", "INVOICE_NUM"]

In [80]:
test.columns = ["index", "SEND_SPG_INNB", "REC_SPG_INNB", "CATEGORY"]

In [81]:
train.drop('index', axis = 1)
test.drop('index', axis = 1)

         SEND_SPG_INNB      REC_SPG_INNB     CATEGORY
0     4167000577042200  5011000435014100          선케어
1     1156000009012200  5011000172034400       구강위생용품
2     4122000363057300  5011000361097300           캠핑
3     5011000436041400  2826000084036400       아웃도어가구
4     4150000241065200  5011000169044300  분유/이유식/아기간식
...                ...               ...          ...
7915  5011000266051200  4623000417038100          농산물
7916  1154500001098300  5011000264055100        문화컨텐츠
7917  5013000610049100  1147000018091400          농산물
7918  5013000610049100  3117000039026100          농산물
7919  1165000014095200  5011000373086400        문화컨텐츠

[7920 rows x 3 columns]

앞 5자리 : 시군구코드 :  50 제주도 / 50110 제주시, 50130 서귀포

In [396]:
temp = train.copy()

In [62]:
train.SEND_SPG_INNB.apply(lambda x: str(x)[5:-3]).value_counts()

00078068    3882
00610049    1790
00731055    1235
00137030    1137
00821028     731
            ...
00283073       1
00828033       1
00176059       1
00040020       1
00139076       1
Name: SEND_SPG_INNB, Length: 3914, dtype: int64

In [63]:
train.SEND_SPG_INNB.apply(lambda x: str(x)[7:-3]).value_counts()

078068    3882
610049    1790
731055    1235
137030    1137
821028     731
          ...
824062       1
009053       1
311002       1
020015       1
139076       1
Name: SEND_SPG_INNB, Length: 3905, dtype: int64

In [64]:
train.SEND_SPG_INNB.apply(lambda x: str(x)[-3:]).value_counts()

100    9280
400    8453
200    7561
300    6390
Name: SEND_SPG_INNB, dtype: int64

In [65]:
train.SEND_SPG_INNB.apply(lambda x: str(x)[-7:-5]).value_counts()

80    5828
00    4090
10    3796
50    3352
70    3346
40    2633
30    2309
90    2144
60    2121
20    1881
81      52
91      49
21      20
11      15
41      13
61      12
31       7
71       7
51       5
01       4
Name: SEND_SPG_INNB, dtype: int64

In [66]:
train.SEND_SPG_INNB.apply(lambda x: str(x)[-7:-5])

0        50
1        00
2        80
3        80
4        80
         ..
31679    00
31680    40
31681    40
31682    50
31683    90
Name: SEND_SPG_INNB, Length: 31684, dtype: object

In [67]:
train, test

(       index     SEND_SPG_INNB      REC_SPG_INNB CATEGORY  INVOCE_NUM
 0          0  5011000595017300  2871000192069300       음반           3
 1          1  4148000690043300  5011000264024400    문화컨텐츠           3
 2          2  5011000078068400  1120000007005400      농산물           3
 3          3  4127100048006400  5011000587019400     기타식품           7
 4          4  5011000078068400  2823700010076300      농산물           3
 ...      ...               ...               ...      ...         ...
 31679  31679  4471000290087200  5011000213073200    스포츠잡화           3
 31680  31680  1129000014045300  5011000319087100  스마트디바이스           4
 31681  31681  1129000014045300  5011000263065200  스마트디바이스           6
 31682  31682  4127300065073100  5011000264061200       지갑           7
 31683  31683  2811000139076100  5011000520070100     세탁용품           4

 [31684 rows x 5 columns],
       index     SEND_SPG_INNB      REC_SPG_INNB     CATEGORY
 0         0  4167000577042200  5011000435014100          선케어
 1         1  1156000009012200  5011000172034400       구강위생용품
 2         2  4122000363057300  5011000361097300           캠핑
 3         3  5011000436041400  2826000084036400       아웃도어가구
 4         4  4150000241065200  5011000169044300  분유/이유식/아기간식
 ...     ...               ...               ...          ...
 7915   7915  5011000266051200  4623000417038100          농산물
 7916   7916  1154500001098300  5011000264055100        문화컨텐츠
 7917   7917  5013000610049100  1147000018091400          농산물
 7918   7918  5013000610049100  3117000039026100          농산물
 7919   7919  1165000014095200  5011000373086400        문화컨텐츠

 [7920 rows x 4 columns])

In [397]:
def NEW_CATEGORY(x):
    if x == '농산물' or x == '수산' or x == '축산':
        return '농축수산물'

    elif x == '건강식품' or x == '가공식품' or x == '과자' or x == '김치' or x == '반찬' or x == '음료' or x == '다이어트식품' or x == '기타식품' or x =='냉동/간편조리식품':
        return '식품'

    elif x == '상의' or x == '하의' or x == '아우터' or x == '기타패션의류' or x == '신발' or x == '잠옷' or x == '언더웨어' or x == '원피스/점프슈트' or x == '기타패션잡화':
        return '의류/패션'

    elif x == '선글라스/안경테' or x == '헤어액세서리' or x == '양말/스타킹' or x == '뷰티소품' or x == '주얼리' or x == '패션소품' or x == '모자' or x == '스마트디바이스액세서리' or x == '가방' or x == '지갑':
        return '액세서리'

    elif x == '스킨케어' or x == '바디케어' or x == '헤어케어' or x == '선케어' or x == '네일케어' or x == '클렌징' or x == '기타화장품/미용' or x == '남성화장품' or x == '눈관리용품' or x == '베이스메이크업' or x == '색조메이크업' or x == '헤어스타일링' or x== '향수':
        return '화장품/미용'

    elif x == '의료용품' or x == '건강용품' or x == '위생/건강용품' or x=='구강위생용품' or x == '재활운동용품':
        return '건강/의료용품'

    elif x == '반려동물':
        return '반려동물용품'

    elif x == '기타스포츠/레저' or x=='낚시' or x=='등산' or x=='골프' or x=='헬스' or x=='스포츠잡화' or x=='캠핑':
        return '스포츠/레저'

    elif x == '기저귀/물티슈' or x== '출산/유아동의류' or x=='분유/이유식/아기간식' or x=='기타출산/육아' or x=='유아가구' or x=='출산/유아동잡화' or x=='완구/매트':
        return '출산/육아'

    elif x == '서재/사무용가구' or x=='침구세트' or x=='침구단품' or x=='인테리어소품' or x=='커튼/블라인드' or x=='침실가구' or x=='수납가구' or x=='아웃도어가구'or x=='DIY자재/용품' or x=='주방가구' or x=='홈데코' or x=='카페트/러그':
        return '가구/인테리어'

    elif x == '생활용품' or x == '주방용품' or x== '수납/정리용품'or x=='욕실용품':
        return '생활/주방용품'

    elif x=='기타디지털/가전' or x=='이미용가전' or x=='주방가전' or x=='음향가전' or x=='계절가전' or x=='생활가전' or x=='세탁용품':
        return '가전'

    elif x =='PC' or x=='모니터' or x=='PC주변기기':
        return '컴퓨터'

    elif x == '태블릿PC/노트북액세서리' or x=='스마트디바이스' or x=='게임기/타이틀':
        return '디지털'

    elif x=='공구' or x=='자동차용품':
        return '자동차/공구'

    elif x=='문화컨텐츠' or x=='음반' or x=='취미용품':
        return '취미/악기'

    elif x== '문구/사무용품':
        return '문구/사무용품'
        
    else:
        return '기타'

temp['UPPER_CATEGORY'] = temp['CATEGORY'].map(NEW_CATEGORY)        
temp['UPPER_CATEGORY'].value_counts()

농축수산물      21564
식품          4006
취미/악기       1733
의류/패션       1015
생활/주방용품      654
화장품/미용       518
가전           406
가구/인테리어      346
반려동물용품       315
건강/의료용품      304
출산/육아        218
문구/사무용품      167
자동차/공구       127
스포츠/레저       122
액세서리         108
컴퓨터           47
기타            17
디지털           17
Name: UPPER_CATEGORY, dtype: int64

In [398]:
temp

,index,SEND_SPG_INNB,REC_SPG_INNB,CATEGORY,INVOICE_NUM,UPPER_CATEGORY
0,0,5011000595017300,2871000192069300,음반,3,취미/악기
1,1,4148000690043300,5011000264024400,문화컨텐츠,3,취미/악기
2,2,5011000078068400,1120000007005400,농산물,3,농축수산물
3,3,4127100048006400,5011000587019400,기타식품,7,식품
4,4,5011000078068400,2823700010076300,농산물,3,농축수산물
...,...,...,...,...,...,...
31679,31679,4471000290087200,5011000213073200,스포츠잡화,3,스포츠/레저
31680,31680,1129000014045300,5011000319087100,스마트디바이스,4,디지털
31681,31681,1129000014045300,5011000263065200,스마트디바이스,6,디지털
31682,31682,4127300065073100,5011000264061200,지갑,7,액세서리
31683,31683,2811000139076100,5011000520070100,세탁용품,4,가전

In [240]:
temp['UPPER_CATEGORY'].isnull().value_counts()

False    31684
Name: UPPER_CATEGORY, dtype: int64

In [241]:
temp.loc[temp['UPPER_CATEGORY'].isnull(), 'CATEGORY'].unique()

array([], dtype=object)

In [243]:
pd.DataFrame(temp.groupby(["SEND_SPG_INNB"])["UPPER_CATEGORY"].value_counts(ascending=False))

                                 UPPER_CATEGORY
SEND_SPG_INNB    UPPER_CATEGORY
1111000015066100 취미/악기                        1
1111000017015300 의류/패션                        1
1111000019090400 의류/패션                        5
1111000019097300 의류/패션                        1
1111000019099100 취미/악기                        1
...                                         ...
5013000946007400 농축수산물                        3
5013000946015400 농축수산물                       42
                 의류/패션                        1
5013000946025300 농축수산물                        4
5013000946029100 농축수산물                        3

[5023 rows x 1 columns]

In [244]:
pd.DataFrame(temp.groupby(["REC_SPG_INNB"])["UPPER_CATEGORY"].value_counts(ascending=False))

                                 UPPER_CATEGORY
REC_SPG_INNB     UPPER_CATEGORY
1111000004097200 농축수산물                        1
1111000005062300 농축수산물                        1
1111000005067400 농축수산물                        1
1111000007059100 농축수산물                        1
1111000007071100 농축수산물                        1
...                                         ...
5013000954034200 가구/인테리어                      1
5013000954034300 식품                           2
5013000954042300 식품                           1
5013000957072200 화장품/미용                       1
5013000972007300 의류/패션                        1

[29137 rows x 1 columns]

In [92]:
import requests
from bs4 import BeautifulSoup

url = "https://shopping.naver.com/home/p/index.naver"

resp = requests.get(url)

html = BeautifulSoup(resp.text, 'html.parser')

# 네이버 카테고리 저장
naver_cat = [i.text.strip() for i in html.select("button.button")[:-2]]
print(naver_cat, sep=',')

['여성패션', '남성패션', '액세서리', '화장품/미용', '가구/인테리어', '식품', '출산/유아동', '반려동물용품', '생활/주방용품', '가전', '디지털', '컴퓨터', '스포츠/레저', '건강/의료용품', '자동차/공구', '취미/문구/악기', '도서', '정기구독', '여행', 'E쿠폰/티켓', '렌탈관', '리퍼비시관', '면세점']

## 데이터 전처리

In [400]:
test_temp = test.copy()
def NEW_CATEGORY(x):
    if x == '농산물' or x == '수산' or x == '축산':
        return '농축수산물'

    elif x == '건강식품' or x == '가공식품' or x == '과자' or x == '김치' or x == '반찬' or x == '음료' or x == '다이어트식품' or x == '기타식품' or x =='냉동/간편조리식품':
        return '식품'

    elif x == '상의' or x == '하의' or x == '아우터' or x == '기타패션의류' or x == '신발' or x == '잠옷' or x == '언더웨어' or x == '원피스/점프슈트' or x == '기타패션잡화':
        return '의류/패션'

    elif x == '선글라스/안경테' or x == '헤어액세서리' or x == '양말/스타킹' or x == '뷰티소품' or x == '주얼리' or x == '패션소품' or x == '모자' or x == '스마트디바이스액세서리' or x == '가방' or x == '지갑':
        return '액세서리'

    elif x == '스킨케어' or x == '바디케어' or x == '헤어케어' or x == '선케어' or x == '네일케어' or x == '클렌징' or x == '기타화장품/미용' or x == '남성화장품' or x == '눈관리용품' or x == '베이스메이크업' or x == '색조메이크업' or x == '헤어스타일링' or x== '향수':
        return '화장품/미용'

    elif x == '의료용품' or x == '건강용품' or x == '위생/건강용품' or x=='구강위생용품' or x == '재활운동용품':
        return '건강/의료용품'

    elif x == '반려동물':
        return '반려동물용품'

    elif x == '기타스포츠/레저' or x=='낚시' or x=='등산' or x=='골프' or x=='헬스' or x=='스포츠잡화' or x=='캠핑':
        return '스포츠/레저'

    elif x == '기저귀/물티슈' or x== '출산/유아동의류' or x=='분유/이유식/아기간식' or x=='기타출산/육아' or x=='유아가구' or x=='출산/유아동잡화' or x=='완구/매트':
        return '출산/육아'

    elif x == '서재/사무용가구' or x=='침구세트' or x=='침구단품' or x=='인테리어소품' or x=='커튼/블라인드' or x=='침실가구' or x=='수납가구' or x=='아웃도어가구'or x=='DIY자재/용품' or x=='주방가구' or x=='홈데코' or x=='카페트/러그':
        return '가구/인테리어'

    elif x == '생활용품' or x == '주방용품' or x== '수납/정리용품'or x=='욕실용품':
        return '생활/주방용품'

    elif x=='기타디지털/가전' or x=='이미용가전' or x=='주방가전' or x=='음향가전' or x=='계절가전' or x=='생활가전' or x=='세탁용품':
        return '가전'

    elif x =='PC' or x=='모니터' or x=='PC주변기기':
        return '컴퓨터'

    elif x == '태블릿PC/노트북액세서리' or x=='스마트디바이스' or x=='게임기/타이틀':
        return '디지털'

    elif x=='공구' or x=='자동차용품':
        return '자동차/공구'

    elif x=='문화컨텐츠' or x=='음반' or x=='취미용품':
        return '취미/악기'

    elif x== '문구/사무용품':
        return '문구/사무용품'
        
    else:
        return '기타'

test_temp['UPPER_CATEGORY'] = test_temp['CATEGORY'].map(NEW_CATEGORY)

In [402]:
from sklearn.preprocessing import LabelEncoder

encoder = LabelEncoder()
encoder.fit(temp['CATEGORY'])

temp['CATEGORY'] = encoder.transform(temp['CATEGORY'])
test_temp['CATEGORY'] = encoder.transform(test_temp['CATEGORY'])

encoder.fit(temp['UPPER_CATEGORY'])

temp['UPPER_CATEGORY'] = encoder.transform(temp['UPPER_CATEGORY'])
test_temp['UPPER_CATEGORY'] = encoder.transform(test_temp['UPPER_CATEGORY'])

ValueError: y contains previously unseen labels: '선케어'

In [258]:
temp

,index,SEND_SPG_INNB,REC_SPG_INNB,CATEGORY,INVOICE_NUM,NEW_SEND,UPPER_CATEGORY
0,0,5011000595017300,2871000192069300,67,3,50,15
1,1,4148000690043300,5011000264024400,34,3,00,15
2,2,5011000078068400,1120000007005400,27,3,80,4
3,3,4127100048006400,5011000587019400,17,7,80,10
4,4,5011000078068400,2823700010076300,27,3,80,4
...,...,...,...,...,...,...,...
31679,31679,4471000290087200,5011000213073200,55,3,00,9
31680,31680,1129000014045300,5011000319087100,52,4,40,5
31681,31681,1129000014045300,5011000263065200,52,6,40,5
31682,31682,4127300065073100,5011000264061200,79,7,50,11
31683,31683,2811000139076100,5011000520070100,48,4,90,1

In [259]:
test_temp

      index     SEND_SPG_INNB      REC_SPG_INNB  CATEGORY  UPPER_CATEGORY
0         0  4167000577042200  5011000435014100        47              17
1         1  1156000009012200  5011000172034400        12               2
2         2  4122000363057300  5011000361097300        88               9
3         3  5011000436041400  2826000084036400        58               0
4         4  4150000241065200  5011000169044300        39              14
...     ...               ...               ...       ...             ...
7915   7915  5011000266051200  4623000417038100        27               4
7916   7916  1154500001098300  5011000264055100        34              15
7917   7917  5013000610049100  1147000018091400        27               4
7918   7918  5013000610049100  3117000039026100        27               4
7919   7919  1165000014095200  5011000373086400        34              15

[7920 rows x 5 columns]

In [264]:
temp = temp.drop('NEW_SEND', axis=1)

In [313]:
temp["SEND_SPG_INNB"].apply(lambda x: int(str(x)[:5]))

0        50110
1        41480
2        50110
3        41271
4        50110
         ...
31679    44710
31680    11290
31681    11290
31682    41273
31683    28110
Name: SEND_SPG_INNB, Length: 31684, dtype: int64

In [314]:
# 격자번호 시군구
# train
temp["CITY_SEND"] = temp["SEND_SPG_INNB"].apply(lambda x: int(str(x)[:5])) # 송하
temp["CITY_REC"] = temp["REC_SPG_INNB"].apply(lambda x: int(str(x)[:5]))   # 수하

# test
test_temp["CITY_SEND"] = test_temp["SEND_SPG_INNB"].apply(lambda x: int(str(x)[:5])) # 송하
test_temp["CITY_REC"] = test_temp["REC_SPG_INNB"].apply(lambda x: int(str(x)[:5]))   # 수하

# 성능 향상

In [351]:
# 뒤 3자리
# train
temp["last_three_SEND"] = train["SEND_SPG_INNB"].apply(lambda x: int(str(x)[-3:])) # 송하
temp["last_three_REC"] = train["REC_SPG_INNB"].apply(lambda x: int(str(x)[-3:]))   # 수하

# test
test_temp["last_three_SEND"] = test_temp["SEND_SPG_INNB"].apply(lambda x: int(str(x)[-3:])) # 송하
test_temp["last_three_REC"] = test_temp["REC_SPG_INNB"].apply(lambda x: int(str(x)[-3:]))   # 수하

# 성능 향상

In [326]:
test_temp

,index,SEND_SPG_INNB,REC_SPG_INNB,CATEGORY,UPPER_CATEGORY,CITY_SEND,CITY_REC,last_three_SEND,last_three_REC
0,0,4167000577042200,5011000435014100,47,17,41670,50110,7042,5014
1,1,1156000009012200,5011000172034400,12,2,11560,50110,9012,2034
2,2,4122000363057300,5011000361097300,88,9,41220,50110,3057,1097
3,3,5011000436041400,2826000084036400,58,0,50110,28260,6041,4036
4,4,4150000241065200,5011000169044300,39,14,41500,50110,1065,9044
...,...,...,...,...,...,...,...,...,...
7915,7915,5011000266051200,4623000417038100,27,4,50110,46230,6051,7038
7916,7916,1154500001098300,5011000264055100,34,15,11545,50110,1098,4055
7917,7917,5013000610049100,1147000018091400,27,4,50130,11470,49,8091
7918,7918,5013000610049100,3117000039026100,27,4,50130,31170,49,9026
7919,7919,1165000014095200,5011000373086400,34,15,11650,50110,4095,3086

In [366]:
train.sort_values(by='REC_SPG_INNB')

       index     SEND_SPG_INNB      REC_SPG_INNB CATEGORY  INVOICE_NUM
10524  10524  5011000310047200  1111000004097200       수산            4
31397  31397  5011000535028300  1111000005062300      농산물            3
6379    6379  5013000821028200  1111000005067400      농산물            3
8950    8950  5011000213065200  1111000007059100      농산물            3
3948    3948  5011000310047200  1111000007071100       수산            3
...      ...               ...               ...      ...          ...
19029  19029  4136000305079200  5013000954034300     가공식품            3
19221  19221  1162000004007400  5013000954034300     가공식품            4
21652  21652  4128500028049400  5013000954042300     가공식품            5
16838  16838  4122000023084400  5013000957072200     스킨케어            3
12143  12143  4136000176059200  5013000972007300      아우터            3

[31684 rows x 5 columns]

In [358]:
# 가운데 숫자 
# train
temp["mid_SEND"] = train["SEND_SPG_INNB"].apply(lambda x: int(str(x)[5:13])) # 송하
temp["mid_REC"] = train["REC_SPG_INNB"].apply(lambda x: int(str(x)[5:13]))   # 수하


# test
test_temp["last_three_SEND"] = test_temp["SEND_SPG_INNB"].apply(lambda x: int(str(x)[9:13])) # 송하
test_temp["last_three_REC"] = test_temp["REC_SPG_INNB"].apply(lambda x: int(str(x)[9:13]))   # 수하

In [ ]:
temp = temp.drop(['SEND_SPG_INNB','REC_SPG_INNB'], axis=1)

In [360]:
temp = temp.drop(['mid_SEND','mid_REC'], axis=1)

In [349]:
temp = temp.drop(['last_three_SEND','last_three_REC'], axis=1)

In [354]:
temp.index = train['index']

In [395]:
temp

,CATEGORY,INVOICE_NUM,UPPER_CATEGORY,CITY_SEND,CITY_REC,last_three_SEND,last_three_REC
index,,,,,,,
0,67,3,15,50110,28710,300,300
1,34,3,15,41480,50110,300,400
2,27,3,4,50110,11200,400,400
3,17,7,10,41271,50110,400,400
4,27,3,4,50110,28237,400,300
...,...,...,...,...,...,...,...
31679,55,3,9,44710,50110,200,200
31680,52,4,5,11290,50110,300,100
31681,52,6,5,11290,50110,300,200
31682,79,7,11,41273,50110,100,200
31683,48,4,1,28110,50110,100,100

In [403]:
test_temp.index = test['index']

In [405]:
test_temp = test_temp.drop('index', axis=1)

In [406]:
test_temp

          SEND_SPG_INNB      REC_SPG_INNB     CATEGORY UPPER_CATEGORY
index
0      4167000577042200  5011000435014100          선케어         화장품/미용
1      1156000009012200  5011000172034400       구강위생용품        건강/의료용품
2      4122000363057300  5011000361097300           캠핑         스포츠/레저
3      5011000436041400  2826000084036400       아웃도어가구        가구/인테리어
4      4150000241065200  5011000169044300  분유/이유식/아기간식          출산/육아
...                 ...               ...          ...            ...
7915   5011000266051200  4623000417038100          농산물          농축수산물
7916   1154500001098300  5011000264055100        문화컨텐츠          취미/악기
7917   5013000610049100  1147000018091400          농산물          농축수산물
7918   5013000610049100  3117000039026100          농산물          농축수산물
7919   1165000014095200  5011000373086400        문화컨텐츠          취미/악기

[7920 rows x 4 columns]

In [378]:
test_temp.index = test['index']

In [379]:
test_temp = test_temp.drop(['SEND_SPG_INNB','REC_SPG_INNB'], axis=1)

In [385]:
test_temp = test_temp.drop('index', axis=1)

## 모델링

In [266]:
from lightgbm import LGBMRegressor
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import train_test_split
train_X = temp.drop(['INVOICE_NUM','UPPER_CATEGORY'],axis = 1)
train_Y = temp['INVOICE_NUM']

#모델 정의
model = LGBMRegressor()

# 데이터 스플릿
train_X, val_X, train_Y, val_Y = train_test_split(train_X, train_Y, test_size=0.2, random_state=42)

# 데이터 shape
print(f"Train_X: {train_X.shape}  Val_X: {val_X.shape}  Train_Y: {train_Y.shape} || Val_Y: {val_Y.shape}")

# 모델 학습
model.fit(train_X, train_Y)

# 모델 예측
pred_val = model.predict(val_X)

# 모델 평가
print(mean_squared_error(val_Y, pred_val))

Train_X: (25347, 4)  Val_X: (6337, 4)  Train_Y: (25347,) || Val_Y: (6337,)
35.042829213255644

In [394]:
from lightgbm import LGBMRegressor
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score
from math import sqrt

train_X = temp.drop(['INVOICE_NUM'],axis = 1)
train_Y = temp['INVOICE_NUM']

#모델 정의 및 하이퍼파라미터
model = LGBMRegressor()

# 데이터 스플릿
train_X, val_X, train_Y, val_Y = train_test_split(train_X, train_Y, test_size=0.2, random_state=42)

# 데이터 shape
print(f"Train_X: {train_X.shape}  Val_X: {val_X.shape}  Train_Y: {train_Y.shape} || Val_Y: {val_Y.shape}")

# 모델 학습
model.fit(train_X, train_Y)

# 모델 예측
pred_val = model.predict(val_X)

# 모델 평가
print(mean_squared_error(val_Y, pred_val))
print(r2_score(val_Y, pred_val))
print(sqrt(mean_squared_error(val_Y, pred_val)))

Train_X: (25347, 6)  Val_X: (6337, 6)  Train_Y: (25347,) || Val_Y: (6337,)
34.110605121718436
0.1086680287225602
5.840428504974479

In [ ]:
from lightgbm import LGBMRegressor

train_X = train.drop('운송장_건수',axis = 1)
train_Y = train['운송장_건수']

#모델 정의
model = LGBMRegressor()

In [ ]:
# 모델 학습
model.fit(train_X,train_Y)

LGBMRegressor()

In [386]:
# test 데이터 예측
pred = model.predict(test_temp)

## 정답파일 생성

In [ ]:
submission.to_csv('baseline.csv',index = False)